PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/collabyou
JWT_SECRET=your_super_secret_key_here
ADMIN_EMAIL=admin@collabyou.in
ADMIN_PASSWORD=admin123

# Nodemailer (use Gmail App Password)
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
NOTIFY_EMAIL=hello@collabyou.in

FRONTEND_URL=https://collabyou.vercel.app
